NODE_ENV=development
PORT=3001
JWT_SECRET=sua_chave_secreta_aqui_mude_em_producao
DATABASE_URL=./db/irrf.db
NFE_API_URL=http://localhost:3001/api/mock
NFE_API_KEY=chave_teste
VITE_API_URL=http://localhost:3001/api